/* header */
.header {
  position: fixed;
  width: 100%;
  height: 75px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 18px;
  align-items: center;
  z-index: 100;
  color: white;
  text-shadow: 0 0 2px white;
}
/* logo */
.logo {
  display: flex;
  align-items: center;
  margin: 0 0 0px 20%;
  z-index: 100;
  font-size: 20px;
  text-decoration: none;
  /* color: #010101; */
}
.smaller-logo {
  display: none;
}

.green {
  color: var(--green);
}
.yellow {
  color: var(--yellow);
}

.large {
  font-size: 40px;
  padding-bottom: 12px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.784);
}
.star-icon {
  font-size: 35px !important;
  color: var(--red) !important;
  transform: rotate(0deg);
  margin: 5px 0 10px 1px;
  animation: moveStar 1s linear;
  animation-delay: 1.5s;
}
@keyframes moveStar {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(5deg);
  }
}
/* navigation */
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.book {
  display: flex;
  justify-content: flex-end;
  margin: 0 20% 0 0;
  align-items: center;
}
.nav-item {
  color: white;
  text-shadow: 0 0 2px white;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 2;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--bg);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
.nav-item::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.nav-item:hover::after,
.nav-item:focus::after {
  transform: translate3d(0, 0, 0);
}
.important-link {
  transition: transform 0.3s;
  font-size: 22px;
}
.important-link::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.important-link::after,
.important-link::before {
  transform: translate3d(0, 0, 0);
}
.important-link:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}
.language-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.language-dropdown {
  display: flex;

  align-items: center;
}

.dropdown-content {
  position: absolute;
  flex-direction: column;
  border: 1px solid black;
  transform: translate(50%, 50%);
  top: -28px;
  left: -80px;
  padding: 0 10px;
  width: fit-content;
  background: rgb(248, 248, 248);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.146);
}
.dropdown-item {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  color: black;
  margin-bottom: 10px;
}

.dropdown-nav {
  display: none;
}
.menu-icon {
  font-size: 40px !important;
  text-shadow: 10px 10px 10px black !important;
  z-index: 100;
}
@media only screen and (max-width: 1340px) {
  .header {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1140px) {
  .header {
    font-size: 22px;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: space-evenly;
    top: 0;
    width: 100%;
    background: rgba(31, 31, 31, 0.83);
    height: 60vh;
  }

  .dropdown-nav {
    display: flex;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
    margin: 0 0 0px 20%;
  }
  .language-container {
    width: 100%;
  }
  .language-dropdown {
    width: fit-content;
  }
  .dropdown-content {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: calc(20vh);
    left: 0;
    /* transform: translate(0, 50%); */
    width: 100%;
    background: #000;
    /* background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 10%,
      rgba(0, 0, 0, 0.4) 100%
    ); */
  }
  .dropdown-item {
    height: 10vh;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .book {
    grid-column: 3;
  }
  .logo {
    grid-row: 1;
    grid-column: 2;

    margin: 0;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 18px;
    /* background: #000; */
  }
  .logo {
    display: none;
  }
  .smaller-logo {
    display: flex;
    grid-row: 1;
    grid-column: 2;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .large {
    font-size: 40px;
    padding-bottom: 5px;
  }
  .star-icon {
    font-size: 35px !important;
    margin-top: 10px;
  }
  .important-link {
    font-size: 18px;
  }
  .menu-icon {
    font-size: 30px !important;
  }
}

/* SMALL HEADER   */
.small-header {
  position: absolute;
  inset: 0 0;
  display: flex;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.small-header .logo,
.small-header .book {
  padding: 0;
  margin: 0 4vw;
}
.nav-back {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.nav-back:after {
  /* display: none; */
}
