.house-container {
  height: calc(100vh - 75px);
  width: 100%;
  background: #000;
  align-items: center;
  justify-content: center;
  background-size: cover;
  object-fit: fill;
  /* opacity: 0.7; */
}
.lighten {
  position: relative;
  height: calc(100vh - 75px);
  width: 100%;
  background-color: rgba(104, 118, 104, 0.856);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.house-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 14px 5px rgba(0, 0, 0, 0.249);
  background-image: radial-gradient(
    rgba(168, 168, 184, 0.447),
    rgba(0, 0, 0, 0)
  );
  color: white;
  text-shadow: 0 0 4px rgb(3, 3, 3);
}
.house-container h2 {
  font-family: "Satisfy", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  color: white;
  font-size: 2.7vw;
  position: relative;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.house-container .lighten .house-info p {
  font-family: "Roboto", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  width: 70%;
  line-height: 1.9vw;
  color: white;
  font-size: 1.3vw;
  padding-bottom: 40px;
}
.house-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}
.house-info .house-book-now {
  font-family: "Roboto", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-size: 1.5vw;
  border: none;
  background: none;
  color: white;
  text-shadow: 0 0 4px rgb(3, 3, 3);
  box-shadow: 2px 2px 10px 1px rgb(0 0 0 / 9%);
  position: relative;
  padding: 5px 10px;
  border: 2px solid #f8f8f8;
  border-radius: 5px;
  transition: transform 0.3s linear;
  cursor: pointer;
  text-decoration: none;
}

.house-info .house-book-now:hover {
  transform: scale(1.05);
}

.house-container .gallery-container {
  position: relative;
  width: 50%;
  height: 100%;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}
.house-container .gallery-container > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.home-slider-image {
  position: relative;
  width: 70%;
  height: auto;
  border: 5px solid white;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.249);
}
.click-gallery,
.hovered-gallery {
  font-size: 1.5vw;
  text-shadow: 0 0 6px black;
  display: flex;
  /* width: 120px; */
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid white;
  background: rgba(0, 0, 0, 0.385);
  transform: scale(1.1) rotate(-7.5deg);
  transition: transform 0.3s linear;
}

.hovered-gallery:hover {
  transform: scale(1.05) rotate(-7.5deg);
}

.last {
  cursor: pointer;
}

@media screen and (max-width: 2200px) {
  .home-slider-image {
    width: 75%;
  }
}
@media screen and (max-width: 1600px) {
  .home-slider-image {
    width: 85%;
  }
}
@media screen and (max-width: 900px) {
  .house-content {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .gallery-container {
    width: 90%;
    height: 45%;
  }
  .house-info {
    width: 90%;
    height: 45%;
  }
  .home-slider-image {
    width: 110%;
  }
  .house-container .lighten .house-info p {
    font-size: calc(var(--fs) - 2px);
    line-height: calc(var(--fs) + 3px);
    width: 80%;
    padding-bottom: 20px;
  }
  .house-container h2 {
    font-size: calc(var(--fs) + 15px);
    padding-bottom: 10px;
  }
  .house-info .house-book-now {
    font-size: calc(var(--fs) - 1px);
    border: 1px solid white;
  }
  .click-gallery,
  .hovered-gallery {
    font-size: calc(var(--fs) - 1px);
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.506);
  }
}
@media screen and (max-width: 800px) {
  .home-slider-image {
    width: 120%;
  }
}
@media screen and (max-width: 700px) {
  .home-slider-image {
    width: 130%;
  }
}
@media screen and (max-width: 600px) {
  .home-slider-image {
    width: 140%;
  }
}
@media screen and (max-width: 550px) {
  .house-info {
    height: 50%;
  }
  .house-container .lighten .house-info p {
    font-size: calc(var(--fs) - 2px);
    line-height: calc(var(--fs) + 2px);
    width: 100%;
  }
  .house-container h2 {
    font-size: calc(var(--fs) + 10px);
  }
  .house-info .house-book-now {
    font-size: calc(var(--fs) - 2px);
  }
  .home-slider-image {
    width: 150%;
  }
  .click-gallery,
  .hovered-gallery {
    font-size: calc(var(--fs) - 2px);
    border: 1px solid white;
  }
}
