.house-container {
  height: calc(100vh - 75px);
  width: 100%;
  background: #000;
  align-items: center;
  justify-content: center;
  background-size: cover;
  object-fit: fill;
  opacity: 0.7;
}
.lighten {
  /* position: absolute; */
  height: calc(100vh - 75px);
  width: 100%;
  background-color: rgba(4, 18, 4, 0.803);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.house-container h2 {
  font-family: "Satisfy", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  z-index: 100;
  color: white;
  font-size: 28px;
}
.house-container p {
  font-family: "Roboto", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  width: 60%;
  line-height: 26px;
  text-align: center;
  color: white;
}
