.landing {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Sansita Swashed", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  /* overflow-x: hidden; */
}
.darken {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    rgba(1, 1, 1, 0.9) 0%,
    rgba(1, 1, 1, 0.2) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  z-index: 1;
}
.landing-slide-container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
.slideshowSlider {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  /* transition: ease 1000ms; */
}
.slide {
  height: 100vh;
  width: 100vw;
  object-fit: cover;

  z-index: 1;
}

.landing-content {
  position: absolute;
  /* transform: translate(50%, 50%); */
  right: 5%;
  top: 30%;
  height: 50vh;
  width: 30vw;
  z-index: 2;
}
.content-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* border-radius: 20px; */
  background: rgba(255, 255, 255, 0.714);
  box-shadow: inset 0 0 8px 1px var(--red), 0 0 8px 1px var(--red);
  animation: changeBorder 20s linear infinite;
  transition: all 0.5s ease-in;
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: 18px;
  border: 10px solid rgba(0, 0, 0, 0.851);
  border-bottom: 20px solid rgba(0, 0, 0, 0.851);
}

.content-info::before,
.content-info::after {
}
.content-info::after {
  left: -1px;
}

.info {
  display: flex;
  height: 90%;
  width: 90%;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: black;
  position: relative;
}
.info h3 {
  text-transform: capitalize;
}

.info-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 35%;
  width: 35%;
  z-index: 1;
  /* width: 100px; */
  opacity: 0.7;
}
.description {
  z-index: 2;
  width: 75%;
  font-size: 23px;
  text-align: justify;
}
.info-button {
  font-family: "Sansita Swashed", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  border: none;
  background: black;
  color: white;
  font-size: 22px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  cursor: pointer;
}
@keyframes underlineButton {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  33% {
    transform: translate3d(100%, 0, 0);
  }
  67% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.info-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--bg);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  /* animation: underlineButton 2s linear infinite; */
}
.info-button::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.info-button:hover::after,
.info-button:focus::after {
  transform: translate3d(0, 0, 0);
}

.pagination {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transform: translate(50%, 50%);
  bottom: -10px;
  right: 50%;
  cursor: pointer;
  filter: grayscale(100%);
  z-index: 2;
  transition: all 0.5s ease-in;
}

.pagination:hover {
  filter: grayscale(0);
}
.pagination.active {
  filter: grayscale(0);
}
