.landing {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Sansita Swashed", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
}
.darken {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(1, 1, 1, 0.9) 0%,
    rgba(1, 1, 1, 0.3) 70%,
    rgba(1, 1, 1, 0) 100%
  );
  z-index: 1;
}
.landing-slide-container {
  overflow: hidden;
  height: calc(90vh);
  width: 100%;
  z-index: 1;
  position: relative;
}
.slideshowSlider {
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
.slide {
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  object-fit: cover;
  z-index: 1;

  /* transition: all 8s linear; */
}
.grow {
  animation: zoom 8.025s ease-in infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.landing-content {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  bottom: 60%;
  height: fit-content;
  width: 40%;

  z-index: 2;
}
.content-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  animation: changeBorder 20s linear infinite;
  font-size: 28px;
  font-family: "Kaushan Script", Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif;
  font-size: 18px;
  color: white;
  transform: translate(-100vh, 0);
  transition: all 2s linear;
}

.animate-content {
  transform: translate(0vh, 0);
}

.content-info::before,
.content-info::after {
}
.content-info::after {
  left: -1px;
}

.info {
  display: flex;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 2px rgba(213, 213, 213, 0.605);
  position: relative;
  font-size: 24px;
}

.info-illustration {
  position: absolute;
  display: none;
  bottom: 0%;
  left: 0%;
  height: 15vh;
  overflow: hidden;
  z-index: -1;
  opacity: 0.7;
}

.description {
  z-index: 2;
  text-align: center;
  font-weight: 900;
}
.info-button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 28px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  text-shadow: 0 0 2px rgba(213, 213, 213, 0.605);
  padding: 5vh 10px 5px 10px;
  cursor: pointer;
  margin: 10px -10px 0 0;
  /* transition: transform 1s; */
}
.info-button:hover::after {
  animation: underlineButton 2s linear infinite;
}
@keyframes underlineButton {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  33% {
    transform: translate3d(100%, 0, 0);
  }
  67% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}
.info-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--bg);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  /* animation: underlineButton 2s linear infinite; */
}
.info-button::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.info-button:hover::after,
.info-button:focus::after {
  transform: translate3d(-100%, 0, 0);
}

.pagination {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid white;
  right: 10px;
  top: 50%;
  cursor: pointer;
  filter: grayscale(100%);
  z-index: 2;
  transition: all 0.5s ease-in;
}

.pagination:hover {
  filter: grayscale(0);
}
.pagination.active {
  filter: grayscale(0);
}
.collections-landing {
  display: flex;
  align-items: center;
  position: absolute;
  left: -20px;
  bottom: 50%;
  transform: translate(0, 50%) rotate(270deg);
  color: white;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.708);
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 2;
}
.collections-icon {
  margin: 0 5px;
}

.mySwiper {
  position: absolute !important;
  top: 75px;
  left: 0;
  height: calc(100vh - 75px);
  width: 100%;
  z-index: 200 !important;
}

.mySwiper .swiper-slide {
  height: 100%;
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative !important;
}

.mySwiper .swiper-slide img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}
.close-icon {
  position: absolute !important;
  right: 10%;
  top: 10%;
  z-index: 100 !important;
  color: white !important;
  font-size: 40px !important;
  cursor: pointer;
  transition: all 300ms linear !important;
}
.close-icon:hover {
  transform: scale(1.1) !important;
}

@media only screen and (max-width: 550px) {
  .landing-slide-container {
    height: 70vh;
  }
  .landing-content {
    transform: translate(0, 0);
    bottom: 0;
    left: 0;
    height: 30vh;
    width: 100%;
    color: black;
  }
  .content-info {
    /* box-shadow: inset 0px 0px 200px 5px var(--bg); */
  }
  .info {
    width: 80%;
    color: black;
    font-size: 20px;
  }
  .info-button {
    color: black;
  }
  .collections-landing {
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 35px;
    padding: 15px;

    font-size: 13px;
  }
  .info-illustration {
    display: block;
  }
}
@media only screen and (max-width: 400px) {
  .landing-content {
    width: 100%;
  }
  .info {
    font-size: 20px;
  }
}
